* {
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  padding: 20px;
}

/* FORM STYLES */
form {
  display: flex;
  padding: 10px;
}

section {
  display: flex;
  flex-direction: column;
  width: 500px;

  padding: 10px 0%;
  margin: 10px 0%;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 4px;
  margin: 2px 4px;
}

input,
select {
  flex: 1;
  text-indent: 2px;
}

button {
  font-size: 1.1rem;
  background-color: crimson;
  cursor: pointer;
  margin: 5px;
}

#submit {
  background-color: green;
}

/* MESSAGE STYLES */
.GeneratedMessage {
  display: flex;
  border: 1px solid white;
  overflow: scroll;
}
