* {
  background-color: #212121;
  color: #ccc;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  padding: 20px;
}

.top {
  display: flex;
}

/* FORM STYLES */
form {
  display: flex;
  padding: 10px;
}

section {
  display: flex;
  flex-direction: column;
  width: 500px;

  padding: 10px 0%;
  margin: 10px 0%;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 4px;
  margin: 2px 4px;
}

input,
select {
  flex: 1;
  text-indent: 2px;
}

button {
  font-size: 1rem;
  background-color: orange;
  color: black;
  cursor: pointer;
  padding: 4px;
  margin: 5px;
}

#submit {
  background-color: green;
}

.ActionContainer {
  display: flex;
  align-items: center;
}

.templateSelector {
  height: 24px;
}

/* MESSAGE STYLES */
.GeneratedMessage {
  display: flex;
  box-sizing: border-box;
  border: 1px solid transparent;
  overflow: scroll;
  cursor: pointer;
  padding:6px;
}

.active {
  border: 1px solid lime;
}

/* .GeneratedMessage:hover {
  border: 1px solid rgba(255, 255, 255, 0.8);
} */
